table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #000;
    color: #fff;
  }
  
  tr:nth-child(odd) {
    background-color: #ddf;
  }
  tr:nth-child(even) {
    background-color: #bbf;
  }
  
  tr:hover {
    background-color: #aaa;
  }