body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #000;
    padding: 20px;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    background-color: #ccc;
    color: #fff;
}

main {
    padding: 20px;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

#jobs li {
    margin-bottom: 10px;
    padding: 2%;
}

#jobs li {
    background: green;
}

#jobs li:nth-child(odd) {
    background: red;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
}

p {
    margin: 0 0 10px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ccc;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.card {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.card-body {
    padding: 10px;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
}

.card-text {
    margin-bottom: 10px;
}

.btn {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ccc;
    color: #fff;
}

.carousel-item img {
    max-height: 100vh;
    margin: 0 auto;
}

.carousel-item h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.carousel-item p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

#about h1 {
    font-size: 3rem;
    margin-top: 3rem;
    text-align: center;
}

#about p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#about .col-lg-6 {
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
    padding: 2rem;
}

#about .col-lg-6 img {
    width: 100%;
}

#about .col-lg-6 h2 {
    font-size: 2rem;
    margin-top: 0;
}

#contact {
    background-color: #f9f9f9;
    padding: 50px 0;
}

#contact h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}